[submodule "packages/api"]
	path = packages/api
	url = git@github.com:O-Pencil/Asgard-api.git
	branch = main

[submodule "packages/web"]
	path = packages/web
	url = git@github.com:O-Pencil/Asgard-web.git
	branch = main
